@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.events-container {
    background-color: #ffd8fa;
    min-height: 100vh; /* Ensures full height */
    width: 100vw;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding-top: 80px; /* Adjust this based on navbar height */
}

.content-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 400px;
    margin-top: 0; /* Removed negative margin to prevent overlap */
}

.calendar-container {
    position: relative;
    margin-left: 10.8vw;
    width: 100%; /* Adjusts width */
    overflow: hidden;  /* Prevents overflow */
}

.calendar-title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #5A005A;
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
    text-decoration: underline;
}

.meetings-container {
    margin-right: 10.8vw;
    background-color: #FADDF8;
    padding: 16px 60px;
    box-shadow: 0 8px 20px rgba(155, 79, 150, 0.4);
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.meetings-title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #5A005A;
    font-size: 2.7rem;
    font-family: 'Georgia', serif;
    text-decoration: underline;
}

/* Meeting details */
.meeting-details-container {
    padding: 0 10%;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
}

.meeting-details {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    color: #5A005A;
    margin-top: 8px;
}

.meeting-details strong {
    font-weight: bold;
}

/* Image styling */
.image-container {
    flex: 1;
}

.event-image {
    max-width: 800px;
    width: 100%;
}

/* Discord logo styling */
.discord-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.discord-image:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .events-container {
        padding-top: 60px;
    }

    .content-wrapper {
        flex-direction: column; /* Stack content */
        gap: 20px; /* Reduce spacing */
        text-align: center;
        width: 100%;
    }

    .calendar-container,
    .meetings-container {
        max-width: 90%;
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 1rem;
    }

    .meetings-title {
        font-size: 1.8rem;
    }

    .meeting-details {
        font-size: 1.3rem;
    }

    .event-image {
        max-width: 300px;
    }

    .discord-image {
        width: 70px;
        height: 70px;
    }
}
  

